.screen_grid{
    position: relative;
    display: grid;
    column-gap:100px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    top: 100px;
    left: 380px;
}

.grid_numbers{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.random_number{
    position: absolute;
    border: 1px solid black;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 615px;
}

.grid_numbers:active{
    height: 90px;
    width: 90px;
}
